
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.image img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    transform: rotate(270deg);
}

.content {
    max-width: 600px;
    margin-left: 40px;
    font-size: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
}

.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-links li {
    margin: 0 10px;
}

.social-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
